<h1>Project Submit Form</h1>
        <form action="/project_form" method="post">
            First Name: <input name="First Name" type="text" /><br>

            Last Name: <input name="Last Name" type="text" /><br>

            Project Name: <input name="Project Name" type="text" /><br>

            Project Summary: <input name="Project Summmary" type="text" /><br>

            Project Skill Needs: <input name="skills" type="text" /><br>

            Approximate Due Date: <input name="comment" type="text" /><br>

            Team Size (Number of individuals): <input name="rating" type="number" /><br>
            <input value="Submit" type="submit" />
        </form>